.register {
  width: 50vw;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(250, 161, 151);
  border-radius: 15px;
  box-shadow: 0 5px 7px 5px grey;
}
.register h2 {
  text-decoration: underline;
  margin-bottom: 20px;
}
.register form input {
  width: 40vw;
  margin: 15px;
}
.register form input:focus {
  background-color: rgb(252, 241, 241);
  color: #000;
}
.register .input_btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.register .btn:hover {
  background-color: rgb(183, 228, 92);
  color: #000;
}
